{% extends "clients/base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table-hover">
            <caption>Сотрудники</caption>
            <thead>
            <tr>
                <th>№</th>
                <th>Фото</th>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Пол</th>
                <th>№ доверенности</th>
                <th>Дата доверенности</th>
                <th>Телефон</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.avatar }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.birth_date|date }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.document_number }}</td>
                    <td>{{ user.document_date }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
